$breakpoints: (
  "mobile": "screen and (min-width: 0px)",
  "tablet": "screen and (min-width: 640px)",
  "laptop": "screen and (min-width: 1024px)",
  "desktop": "screen and (min-width: 1200px)"
) !default;

$mobile: 0px;
$tablet: 640px;
$laptop: 1024px;
$desktop: 1200px;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
